<h1>Listing buttons</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Toggle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @buttons.each do |button| %>
  <tr>
    <td><%= button.name %></td>
    <td><%= button.toggle %></td>
    <td><%= link_to 'Show', button %></td>
    <td><%= link_to 'Edit', edit_button_path(button) %></td>
    <td><%= link_to 'Destroy', button, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Button', new_button_path %>
