<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @button.name %>
</p>

<p>
  <b>Toggle:</b>
  <%= @button.toggle %>
</p>


<%= link_to 'Edit', edit_button_path(@button) %> |
<%= link_to 'Back', buttons_path %>
